.App {
  display: flex;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.right{
  width: 80vw;
}
header{
  margin: 0 !important;
}
main{
  overflow-y: auto;
  height: 80vh;
  padding: 0 10vw;
}
.user-input{
  height: 9vh; 
  margin: 0 10vw;
  position: absolute; /* Positioning to grow upward */
  bottom: 0; /* Align to the bottom */
}
textarea{
  width: 50vw;
  height: 90%;
  margin-right: 10px;
  resize: none; /* Disable resizing */
  overflow-y: auto; /* Enable vertical scrolling */
}
form{
  position: relative;
  display: flex;
  height: 10vh; /* Fixed height for the container */
  overflow: hidden; /* Hide overflowing content */
  text-align: left;
}
.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  margin: 20px;
  font-size:35px;
}

aside{
  background-color: gray;
  width: 20vw;
  height:100vh;
}
button{
  padding: 5%;
  margin: 5%;
  font-size: 12px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
