.App {
  /* display: flex; */
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.right{
  background-color: #C9C9C9;
  width: 80vw;
}
header{
  margin: 0 !important;
}

.new{
  padding: 5%;
    margin: 5%;
    font-size: 14px;
    background-color: transparent;
    border: 1.5px solid white;
    box-shadow: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
    font-weight: bold;
}

.App-header {
  background-color: #222E50;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: .2rem;
}
.aside{
  background-color: #222E50;
    width: 20vw;
    height: 90vh;
    border-right: 2px solid black;
    border-top: 1px solid black;
}
.wrapper{
  display: flex;
}
h1{
  margin: 20px;
  font-size:35px;
}

aside{
  background-color: #222E50;
  width: 20vw;
  height:100vh;
}
button{
  padding: 5%;
  margin: 5%;
  font-size: 12px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
