.App {
  display: flex;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.right{
  background-color: #C9C9C9;
  width: 80vw;
}
header{
  margin: 0 !important;
}



.App-header {
  background-color: #222E50;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  margin: 20px;
  font-size:35px;
}

aside{
  background-color: #222E50;
  width: 20vw;
  height:100vh;
}
button{
  padding: 5%;
  margin: 5%;
  font-size: 12px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
